<% include partials/header %>

<%
 // ここにdic.jsの内容をコピー。
 const dic = [
    {ch:"美国", jp:"米国"},
    {ch:"英国", jp:"英国"},
    {ch:"法国", jp:"フランス"},
    {ch:"西班牙", jp:"スペイン"},
    {ch:"荷兰", jp:"オランダ"},
    {ch:"巴西", jp:"ブラジル"},
    {ch:"比利时", jp:"ベルギー"},
    {ch:"瑞典", jp:"スウェーデン"},
    {ch:"塞尔维亚", jp:"セルビア"},
    {ch:"意大利", jp:"イタリア"},
    {ch:"俄罗斯", jp:"ロシア"},
    {ch:"波兰", jp:"ポーランド"},
    {ch:"墨西哥", jp:"メキシコ"},
    {ch:"瑞士", jp:"スイス"},
    {ch:"希腊", jp:"ギリシャ"},
    {ch:"爱尔兰", jp:"アイルランド"},
    {ch:"斯洛文尼亚", jp:"スロベニア"},
    {ch:"伊朗", jp:"イラン"},
    {ch:"印度", jp:"インド"},
    {ch:"乌克兰", jp:"ウクライナ"},
    {ch:"捷克", jp:"チェコ"},
    {ch:"阿根廷", jp:"アルゼンチン"},
    {ch:"印度尼西亚", jp:"インドネシア"},
    {ch:"哈萨克斯坦", jp:"カザフスタン"},
    {ch:"土耳其", jp:"トルコ"},
    {ch:"德国", jp:"ドイツ"},
    {ch:"匈牙利", jp:"ハンガリー"},
    {ch:"洪都拉斯", jp:"ホンジュラス"},
    {ch:"波多黎各", jp:"プエルトリコ"},
    {ch:"黎巴嫩", jp:"レバノン"},
    {ch:"斯洛伐克", jp:"スロバキア"},
    {ch:"约旦", jp:"ヨルダン"},
    {ch:"葡萄牙", jp:"ポルトガル"},
    {ch:"伊拉克", jp:"イラク"},
    {ch:"罗马尼亚", jp:"ルーマニア"},
    {ch:"孟加拉国", jp:"バングラデシュ"},
    {ch:"菲律宾", jp:"フィリピン"},
    {ch:"玻利维亚", jp:"ボリビア"},
    {ch:"秘鲁", jp:"ペルー"},
    {ch:"多米尼加", jp:"ドミニカ"},
    {ch:"以色列", jp:"イスラエル"},
    {ch:"保加利亚", jp:"ブルガリア"},
    {ch:"哥伦比亚", jp:"コロンビア"},
    {ch:"阿尔巴尼亚", jp:"アルバニア"},
    {ch:"塞浦路斯", jp:"キプロス"},
    {ch:"阿尔及利亚", jp:"アルジェリア"},
    {ch:"芬兰", jp:"フィンランド"},
    {ch:"埃及", jp:"エジプト"},
    {ch:"加拿大", jp:"カナダ"},
    {ch:"智利", jp:"チリ"},
    {ch:"南非", jp:"南アフリカ"},
    {ch:"埃塞俄比亚", jp:"エチオピア"},
    {ch:"巴拉圭", jp:"パラグアイ"},
    {ch:"突尼斯", jp:"チュニジア"},
    {ch:"乌干达", jp:"ウガンダ"},
    {ch:"奥地利", jp:"オーストリア"},
    {ch:"厄瓜多尔", jp:"エクアドル"},
    {ch:"挪威", jp:"ノルウェー"},
    {ch:"爱沙尼亚", jp:"エストニア"},
    {ch:"肯尼亚", jp:"ケニア"},
    {ch:"巴勒斯坦", jp:"パレスチナ"},
    {ch:"摩尔多瓦", jp:"モルドバ"},
    {ch:"阿联酋", jp:"アラブ首長国連邦"},
    {ch:"马约特", jp:"マヨット"},
    {ch:"尼日利亚", jp:"ナイジェリア"},
    {ch:"马来西亚", jp:"マレーシア"},
    {ch:"哥斯达黎加", jp:"コスタリカ"},
    {ch:"巴基斯坦", jp:"パキスタン"},
    {ch:"法属圭亚那", jp:"フランス領ギアナ"},
    {ch:"波黑", jp:"BiH"},
    {ch:"科威特", jp:"クウェート"},
    {ch:"莫桑比克", jp:"モザンビーク"},
    {ch:"留尼旺", jp:"再会"},
    {ch:"斯威士兰", jp:"スワジランド"},
    {ch:"法属波利尼西亚", jp:"フランス領ポリネシア"},
    {ch:"牙买加", jp:"ジャマイカ"},
    {ch:"日本", jp:"日本"},
    {ch:"卡塔尔", jp:"カタール"},
    {ch:"拉脱维亚", jp:"ラトビア"},
    {ch:"立陶宛", jp:"リトアニア"},
    {ch:"利比亚", jp:"リビア"},
    {ch:"瓜德罗普岛", jp:"グアドループ"},
    {ch:"北马其顿", jp:"北部マケドニア"},
    {ch:"黑山", jp:"モンテネグロ"},
    {ch:"乌拉圭", jp:"ウルグアイ"},
    {ch:"阿曼", jp:"オマーン"},
    {ch:"丹麦", jp:"デンマーク"},
    {ch:"韩国", jp:"韓国"},
    {ch:"马拉维", jp:"マラウイ"},
    {ch:"危地马拉", jp:"グアテマラ"},
    {ch:"白俄罗斯", jp:"ベラルーシ"},
    {ch:"古巴", jp:"キューバ"},
    {ch:"亚美尼亚", jp:"アルメニア"},
    {ch:"缅甸", jp:"ミャンマー"},
    {ch:"马提尼克", jp:"マルティニーク"},
    {ch:"巴拿马", jp:"パナマ"},
    {ch:"委内瑞拉", jp:"ベネズエラ"},
    {ch:"莱索托", jp:"レソト"},
    {ch:"巴林", jp:"バーレーン"},
    {ch:"苏丹", jp:"スーダン"},
    {ch:"喀麦隆", jp:"カメルーン"},
    {ch:"博茨瓦纳", jp:"ボツワナ"},
    {ch:"摩洛哥", jp:"モロッコ"},
    {ch:"加纳", jp:"ガーナ"},
    {ch:"叙利亚", jp:"シリア"},
    {ch:"南苏丹", jp:"南スーダン"},
    {ch:"索马里", jp:"ソマリア"},
    {ch:"阿富汗", jp:"アフガニスタン"},
    {ch:"阿塞拜疆", jp:"アゼルバイジャン"},
    {ch:"克罗地亚", jp:"クロアチア"},
    {ch:"塞内加尔", jp:"セネガル"},
    {ch:"刚果（金）", jp:"DRC"},
    {ch:"刚果（布）", jp:"コンゴ（ブラザビル）"},
    {ch:"马耳他", jp:"マルタ"},
    {ch:"中非共和国", jp:"中央アフリカ共和国"},
    {ch:"斯里兰卡", jp:"スリランカ"},
    {ch:"卢森堡", jp:"ルクセンブルク"},
    {ch:"格鲁吉亚", jp:"ジョージア"},
    {ch:"马尔代夫", jp:"モルディブ"},
    {ch:"沙特阿拉伯", jp:"サウジアラビア"},
    {ch:"赞比亚共和国", jp:"ザンビア共和国"},
    {ch:"科特迪瓦", jp:"コートジボワール"},
    {ch:"纳米比亚", jp:"ナミビア"},
    {ch:"海地", jp:"ハイチ"},
    {ch:"布隆迪共和国", jp:"ブルンジ"},
    {ch:"几内亚", jp:"ギニア"},
    {ch:"尼加拉瓜", jp:"ニカラグア"},
    {ch:"马里", jp:"マリ"},
    {ch:"加蓬", jp:"ガボン"},
    {ch:"也门共和国", jp:"イエメン共和国"},
    {ch:"吉尔吉斯斯坦", jp:"キルギスタン"},
    {ch:"萨尔瓦多", jp:"エルサルバドル"},
    {ch:"圣文森特和格林纳丁斯", jp:"セントビンセントおよびグレナディーン諸島"},
    {ch:"卢旺达", jp:"ルワンダ"},
    {ch:"厄立特里亚", jp:"エリトリア"},
    {ch:"多哥", jp:"トーゴ"},
    {ch:"塞拉利昂", jp:"シエラレオネ"},
    {ch:"巴哈马", jp:"バハマ"},
    {ch:"中国", jp:"中国"},
    {ch:"安哥拉", jp:"アンゴラ"},
    {ch:"津巴布韦", jp:"ジンバブエ"},
    {ch:"关岛", jp:"グアム"},
    {ch:"布基纳法索", jp:"ブルキナファソ"},
    {ch:"巴布亚新几内亚", jp:"パプアニューギニア"},
    {ch:"贝宁", jp:"ベナン"},
    {ch:"尼泊尔", jp:"ネパール"},
    {ch:"几内亚比绍", jp:"ギニアビサウ"},
    {ch:"澳大利亚", jp:"オーストラリア"},
    {ch:"乌兹别克斯坦", jp:"ウズベキスタン"},
    {ch:"蒙古", jp:"モンゴル"},
    {ch:"圣巴泰勒米岛", jp:"聖バルテルミーi。"},
    {ch:"柬埔寨", jp:"カンボジア"},
    {ch:"马恩岛", jp:"マン島"},
    {ch:"马达加斯加", jp:"マダガスカル"},
    {ch:"巴巴多斯", jp:"バルバドス"},
    {ch:"赤道几内亚", jp:"赤道ギニア"},
    {ch:"圭亚那", jp:"ガイアナ"},
    {ch:"泰国", jp:"タイ"},
    {ch:"佛得角", jp:"カーボベルデ"},
    {ch:"越南", jp:"ベトナム"},
    {ch:"圣马力诺", jp:"サンマリノ"},
    {ch:"乍得", jp:"チャド"},
    {ch:"冈比亚", jp:"ガンビア"},
    {ch:"塔吉克斯坦", jp:"タジキスタン"},
    {ch:"尼日尔", jp:"ニジェール"},
    {ch:"安提瓜和巴布达", jp:"アンティグアバーブーダ"},
    {ch:"库拉索岛", jp:"キュラソー、i。"},
    {ch:"毛里塔尼亚", jp:"モーリタニア"},
    {ch:"坦桑尼亚", jp:"タンザニア"},
    {ch:"苏里南", jp:"スリナム"},
    {ch:"安道尔", jp:"アンドラ"},
    {ch:"圣多美和普林西比", jp:"サントメプリンシペ"},
    {ch:"摩纳哥", jp:"モナコ"},
    {ch:"吉布提", jp:"ジブチ"},
    {ch:"圣卢西亚", jp:"セントルシア"},
    {ch:"阿鲁巴", jp:"アルバ"},
    {ch:"塞舌尔", jp:"セイシェル"},
    {ch:"荷兰加勒比地区", jp:"オランダのカリブ海"},
    {ch:"钻石公主号邮轮", jp:"ダイヤモンドプリンセスクルーズ船"},
    {ch:"新加坡", jp:"シンガポール"},
    {ch:"特克斯和凯科斯群岛", jp:"タークスカイコス諸島"},
    {ch:"圣马丁岛", jp:"セントマーティンi。"},
    {ch:"北马里亚纳群岛联邦", jp:"北マリアナ諸島連邦"},
    {ch:"美属维尔京群岛", jp:"米領バージン諸島"},
    {ch:"列支敦士登", jp:"リヒテンシュタイン"},
    {ch:"伯利兹", jp:"ベリーズ"},
    {ch:"特立尼达和多巴哥", jp:"トリニダード・トバゴ"},
    {ch:"新西兰", jp:"ニュージーランド"},
    {ch:"利比里亚", jp:"リベリア"},
    {ch:"东帝汶", jp:"東ティモール"},
    {ch:"新喀里多尼亚", jp:"ニューカレドニア"},
    {ch:"科摩罗", jp:"コモロ"},
    {ch:"毛里求斯", jp:"モーリシャス"},
    {ch:"科索沃", jp:"コソボ"},
    {ch:"百慕大", jp:"バミューダ"},
    {ch:"开曼群岛", jp:"ケイマン諸島"},
    {ch:"直布罗陀", jp:"ジブラルタル"},
    {ch:"英属维尔京群岛", jp:"英領バージン諸島"},
    {ch:"至尊公主邮轮", jp:"エクストリームプリンセスクルーズ"},
    {ch:"多米尼克", jp:"ドミニク"},
    {ch:"荷属圣马丁", jp:"シントマールテン"},
    {ch:"冰岛", jp:"アイスランド"},
    {ch:"格林那达", jp:"グレナダ"},
    {ch:"大不列颠及北爱尔兰联合王国", jp:"イギリス"},
    {ch:"英国（含北爱尔兰）", jp:"（北アイルランドを含む）イギリス"},
    {ch:"圣皮埃尔和密克隆群岛", jp:"サンピエールとミクロン"},
    {ch:"福克兰群岛", jp:"フォークランド諸島"},
    {ch:"斐济", jp:"フィジー"},
    {ch:"安圭拉", jp:"アンギラ"},
    {ch:"留尼汪", jp:"再会"},
    {ch:"文莱", jp:"ブルネイ"},
    {ch:"蒙特塞拉特", jp:"モントセラト"},
    {ch:"老挝", jp:"ラオス"},
    {ch:"圣巴泰勒米", jp:"セントバーセレミー"},
    {ch:"梵蒂冈", jp:"バチカン"},
    {ch:"法罗群岛", jp:"フェロー諸島"},
    {ch:"不丹", jp:"ブータン"},
    {ch:"根西岛", jp:"ガーンジー"},
    {ch:"北爱尔兰", jp:"北アイルランド"},
    {ch:"土库曼斯坦", jp:"トルクメニスタン"},
    {ch:"圣其茨和尼维斯", jp:"セントクリストファーネイビス"},
    {ch:"格陵兰", jp:"グリーンランド"},
    {ch:"泽西岛", jp:"ジャージー"}
];
%>

    <div class="container">
        <header class="jumbotron">
            <div class="container">
                <h1>新型コロナウイルス感染者数確認WEBアプリ</h1>
                <p>新型コロナウイルスの現在の感染者の統計を確認する為のWEBアプリです。</p>
            </div>
        </header>
        
        <%
        // show date
        function dateToStr24H(date, format) {
            if (!format) {
                format = 'Y/M/D h:m:s';
            }
            format = format.replace(/Y/g, date.getFullYear());
            format = format.replace(/M/g, (date.getMonth() + 1));
            format = format.replace(/D/g, date.getDate());
            format = format.replace(/h/g, date.getHours());
            format = format.replace(/m/g, date.getMinutes());
            format = format.replace(/s/g, date.getSeconds());
            return format;
        }
        %>
        
    　  <!-- 総合感染者数による降順ソート -->
        <%  
        　  var sortArray = data;
            // sort by value
            sortArray.sort(function (a, b) {
                return b.confirmedCount - a.confirmedCount;
            });
            data = sortArray;
        %>
        
        <div class="row">
            <%= "データ取得日時: " + dateToStr24H(gotDate, 'Y年M月D日 h時m分') %>
        </div>
        
        <div name="Data" class="row" style="display:flex; flex-wrap: wrap;">
            <table class="table table-striped  table-dark">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">国、場所名</th>
                  <th scope="col">総合感染者数</th>
                  <th scope="col">現在の感染者数</th>
                  <th scope="col">治癒者数</th>
                  <th scope="col">死者数</th>
                </tr>
              </thead>
            　<tbody>
                <% data.slice(0, 20).forEach(function(eachData, i){ %>
                    <tr>
                    <th scope="row"><%= i+1 %></th>
                    <td><%= dic.find(o => o.ch === eachData.countryName).jp %></td>
                    <td><%= eachData.confirmedCount %></td>
                    <td><%= eachData.currentConfirmedCount %></td>
                    <td><%= eachData.curedCount %></td>
                    <td><%= eachData.deadCount %></td>
                    </tr>
                <% }); %>
              </tbody>
            </table>
        </div><!--  name="Data" -->
    </div><!-- class="container" -->

<% include partials/footer %>


